{% extends "auctions/layout.html" %}


{% block title %}
{{auction_name}}
{% endblock %}

{% block body %}
<div>

    {% if user == auction.created_user%}
        <h4>You are the creator</h4>
        <form action="">
            <input type="submit" value="Close Auction">
        </form>
    {% endif %}
    {% if highest_bid %}
    <h4>{{highest_bid}}</h4>
    {% else %}
    <h4> Currently, no one has bid yet!</h4>
    {% endif %}
    {% if user.is_authenticated and auction.active == True and auction.created_user != user %}
    <button>Add to watchlist</button>
    <form action="">
        <input type="text">
        <input type="submit" value="bid">
    </form>
    {% endif %}
    
</div>
<h3>This is the auction name: {{auction.title}}</h3>
{% if auction.image == "" %}
<h3>There's no image for now</h3>
{% else %}
<img src="{{auction.image}}" alt="">
<h3>This is the auction image</h3>
{% endif %}

<h3>This is the auction description: {{auction_desc}}</h3>
{% endblock %}